<a href="https://colab.research.google.com/github/BlopezEspinoza070801/Amigo-Secreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('¡Hola mundo!')

¡Hola mundo!

In [ ]:
15

15

In [ ]:
print('Mi nombre es Álvaro y tengo 39 años y me encanta la ciencia de datos.')

Mi nombre es Álvaro y tengo 39 años y me encanta la ciencia de datos.

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id(5)

11654504

In [ ]:
edad=5

In [ ]:
print(id(edad))
print(id(5))

11654504
11654504

In [ ]:
numerocinco=5

In [ ]:
id(5)

11654504

In [ ]:
nombre="Gabriel"

In [ ]:
id(nombre)

135969974655120

In [ ]:
id('Gabriel')

135969974655120

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
# Hola

**Hola**

***Mi nombre***
### Bryan
* 1
* 2
* 3
1. 1
2. 2

[Página](https://www.aluracursos.com/)

In [ ]:
'''
Este es un comentario de varias líneas.
'''

'\nEste es un comentario de varias líneas.\n'

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
edad='Hola chavo'

In [ ]:
type(edad)

str

In [ ]:
v=True

In [ ]:
type(v)

bool

In [ ]:
nombre_estudiante='Penélope Camacho'
edad_estudiante=11
promedio_semestre=9.75
aprobado=True
print(nombre_estudiante,edad_estudiante,promedio_semestre,aprobado)
print(type(nombre_estudiante),type(edad_estudiante),type(promedio_semestre),type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante=5
s_vigilante=300
c_docente=16
s_docente=500
c_coordinador=2
s_coordinador=600

In [ ]:
total_empleados=c_vigilante+c_docente+c_coordinador
print(total_empleados)

23

In [ ]:
max_salario=max(s_vigilante,s_docente,s_coordinador)
min_salario=min(s_vigilante,s_docente,s_coordinador)
print(max_salario-min_salario)

300

In [ ]:
promedio_salarios=(c_vigilante*s_vigilante+c_docente*s_docente+c_coordinador*s_coordinador)/total_empleados

In [ ]:
print(promedio_salarios)

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t='Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

135969412107760

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y','t')
texto

'  Micaela de los Sanyos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
nuevo_texto=texto.strip().replace('y','t').upper()
print(texto)
print(nuevo_texto)
print(id(texto),id(nuevo_texto))

  Micaela de los Sanyos
MICAELA DE LOS SANTOS
135969412107760 135969413225776

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
numero1=4
numero2=3
numero1/numero2
numero1**numero2
numero1%numero2
numero1//numero2

1

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre=input('Escribe tu nomnre')

Escribe tu nomnreBryan

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
aNo_admision=int(input('Digita el año de admisión'))

Digita el año de admisión2023

In [ ]:
type(aNo_admision)

int

In [ ]:
año_salida=float(input('Digita el año de salida'))

Digita el año de salida2024

In [ ]:
type(año_salida)

float

In [ ]:
aNo_admision+año_salida
type(aNo_admision+año_salida)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'El año de admision fue {aNo_admision}\tLa nota de admision fue : ')

El año de admision fue 2023	La nota de admision fue :

In [ ]:
nombre=input("Introduce tu nombre: ")
edad=input("Introduce tu edad :")
altura=input("Introduce tu altura en metros: ")
print(f'Hola {nombre}, tienes {edad} años y mides {altura} metros')

Introduce tu nombre: Bryan
Introduce tu edad :24
Introduce tu altura en metros: 1.72
Hola Bryan, tienes 24 años y mides 1.72 metros

In [ ]:
a=int(input("Introduzca número1: "))
b=int(input("Introduza número2: "))
c=int(input("Introduza número3: "))
promedio=(a+b+c)/3
print(f'El promedio es: {promedio}')

Introduzca número1: 40
Introduza número2: 10
Introduza número3: 30
El promedio es: 26.666666666666668

In [ ]:
suma=(5*1)+(12*2)+(20*3)+(15*4)/(1+2+3+4)
print(suma)

95.0

In [ ]:
frase=input('Por favor introducir una frase: ')
print(frase.replace("s","S"))
print(frase)

Por favor introducir una frase: SSSSSsssssssss
SSSSSSSSSSSSSS
SSSSSsssssssss

# Estructuras condicionales

In [ ]:
# Nota de aprobacion entre 7 y 10.
# Nota de reprobación es menor a 7

nota=float(input("Inserte nota de alumno \nNota:"))
if nota>=7:
 print("Aprobado")
elif 7> nota >=5:
  print("Desaprobado")
else:
  print("Reprobado")

Inserte nota de alumno
Nota:8
Aprobado

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v=True
f=False

In [ ]:
if not f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez', 'María González', 'Pedro Rodríguez', 'Ana López'

In [ ]:
nombre_1='Juan Pérez'
nombre_2='Bryan Lopez'

In [ ]:
if nombre_2 in lista:
  print("Estudiante aprobado")
else:
  print("Estudiante desaprobado")

Estudiante desaprobado

In [ ]:
a=int(input("Introduce un 1er número:"))
b=int(input("Introduce un 2do número:"))
if a>b:
  print(f'{a}es mayor a {b}')
elif a<b:
  print(f'{a} es menor a {b}')
else:
  print("Son los mismos números")

Introduce un 1er número:7
Introduce un 2do número:10
7 es menor a 10

In [ ]:
c=float(input("Introducir porcentaje de crecimiento: \nPorcentaje"))
if c>0:
  print(f'Crecimiento positivo en {c}%')
elif c<0:
  print(f'Crecimiento negativo en {c}%')
else:
  print("No hubo crecimiento")

Introducir porcentaje de crecimiento:
Porcentaje0
No hubo crecimiento

In [ ]:
vocales='a','e','i','o','u'
vocal=input("Intruduzca una letra: ").lower()
if vocal in vocales:
  print(f'{vocal} es una vocal')
else:
  print(f'{vocal} es una consonante')

Intruduzca una letra: A
a es una vocal

In [ ]:
a=float(input("Introduza precio 1: "))
b=float(input("Introduza precio 2: "))
c=float(input("Introduza precio 3: "))
d=a,b,c
print(max(d))
print(min(d))

Introduza precio 1: 5
Introduza precio 2: 7
Introduza precio 3: 10
10.0
5.0

In [ ]:
a=float(input("Introduza precio 1: "))
b=float(input("Introduza precio 2: "))
c=float(input("Introduza precio 3: "))
if a<b and a<c:
  print(f'{a} es el menor')
elif b<a and b<c:
  print(f'{b} es el menor')
elif c<a and c<b:
  print(f'{c} es el menor')
else:
  print('Incongruencias:\n\tSon iguales\n\tNo son números')

Introduza precio 1: 5
Introduza precio 2: 5
Introduza precio 3: 8
Incongruencias:
	Son iguales
	No son números

In [ ]:
a=float(input("Introduza precio 1: "))
b=float(input("Introduza precio 2: "))
c=float(input("Introduza precio 3: "))
d=a,b,c
sorted(d,reverse=True)

Introduza precio 1: 8
Introduza precio 2: 5
Introduza precio 3: 9

[9.0, 8.0, 5.0]

In [ ]:
d=input("¿En qué turno te encuentras:?").lower().strip()
if d=="mañana":
  print("Buenos días")
elif d=="tarde":
  print("Buenas tardes")
elif d=="noche":
  print('Buenas noches')
else:
  print("Valor Inválido!")

¿En qué turno te encuentras:?     TaRdE
Buenas tardes

In [ ]:
a=int(input("Introduzca un número:\nNúmero: "))
if a==0:
 print(f"Es número {a}")
elif a%2==0:
  print(f'{a} es par')
else:
  print(f'{a} es impar')

Introduzca un número:
Número: 1
1 es impar

In [ ]:
a=float(input("Introduzca un número:\nNúmero: "))
if round(a,0)==a:
  print(f'{a} es entero')
else:
  print(f'{a} no es entero')

Introduzca un número:
Número: 5.2
5.2 no es entero

In [ ]:
a=float(input("Introduza un número:\n\tNúmero: "))
b=float(input("Introduza un número:\n\tNúmero: "))
d=int(input("Que operación desea realizar:\n1.Suma\n2.Resta\n3.Multiplicación\n4.División\n\tEscribir el número de la operación: "))

if d==1:
  c=a+b
  print(f'La suma es:{a+b}')
elif d==2:
  c=a-b
  print(f'La resta es:{a-b}')
elif d==3:
  c=a*b
  print(f'La multiplicación es:{a*b}')
elif d==4:
 c=a/b
 print(f'La división es {a/b}')
else:
  print("Operación incorrecta")
if c%2==0:
  print(f'{c} es par')
else:
  print(f'{c} es impar')
if round(c,0)==0:
  print(f'{c} es entero')
else:
  print(f'{c} es decimal')
if c>0:
  print(f'{c} es positivo')
elif c<0:
  print(f'{c} es negativo')
else:
  print("Es el número 0")

Introduza un número:
	Número: 5
Introduza un número:
	Número: 0
Que operación desea realizar:
1.Suma
2.Resta
3.Multiplicación
4.División
	Escribir el número de la operación: 4

ZeroDivisionError: float division by zero

In [ ]:
a=float(input("Introduza precio 1: "))
b=float(input("Introduza precio 2: "))
c=float(input("Introduza precio 3: "))
if a+b>c and a+c>b and b+c>a:
  print("Se puede formar un triángulo")
  if a==b==c:
    print("Es un triángulo equilátero")
  elif a==b or a==c or b==c:
    print("Es un triángulo isósceles")
  else:
    print("Es un triánguloe escaleno")
else:
  print("No se puede formar un triángulo")

Introduza precio 1: 2
Introduza precio 2: 3
Introduza precio 3: 5
No se puede formar un triángulo

In [ ]:
Combustible=int(input("Introduza que combustible a adquirir:\n\t1.Etanol\n\t2.Diesel\nIntroduzca solo el número asignado: "))
Litros=float(input('Introduza cantidad de litros: '))
if Combustible==1 and Litros<=15:
  descuento=1.7*0.02*Litros
  valor_pagar=1.7*Litros
elif Combustible==1 and Litros>15:
  descuento=1.7*Litros*0.04
  valor_pagar=1.7*Litros
elif Combustible==2 and Litros<=15:
  descuento=0.03*Litros*2
  valor_pagar=2*Litros
elif Combustible==2 and Litros>15:
  descuento=0.05*Litros*2
  valor_pagar=2*Litros
else:
  print("Se introdujeron valores incorrectos")
print(f"Total descuento: {descuento}")
print(f'Total pago: {valor_pagar-descuento}')

Introduza que combustible a adquirir:
	1.Etanol
	2.Diesel
Introduzca solo el número asignado: 2
Introduza cantidad de litros: 15
Total descuento: 0.8999999999999999
Total pago: 29.1

In [ ]:
a=float(input("Introduza precio 1: "))
b=float(input("Introduza precio 2: "))
c=(b-a)/a

if c>0.2:
  print(f"Bonificación para el equipo de ventas;se logro variación: {c}")
elif c>=0.02:
  print(f'Pequeña bonificación para el equipo de ventas,se logro variación: {c}')
elif c>=-0.1:
  print(f'Planifación de políticas de incentivo de ventas,se logro variación: {c}')
else:
  print(f"Recorte de gastos,se logro variación:{c}")

Introduza precio 1: 10
Introduza precio 2: 8
Recorte de gastos,se logro variación:-0.2

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1=float(input('Introduce la 1era nota: '))
nota_2=float(input('Introduce la 2da nota:'))
print(f'El promedio del estudiante 1 es: {(nota_1+nota_2)/2}')

nota_1=float(input('Introduce la 1era nota: '))
nota_2=float(input('Introduce la 2da nota:'))
print(f'El promedio del estudiante 2 es: {(nota_1+nota_2)/2}')

nota_1=float(input('Introduce la 1era nota: '))
nota_2=float(input('Introduce la 2da nota:'))
print(f'El promedio del estudiante 3 es: {(nota_1+nota_2)/2}')

Introduce la 1era nota: 6
Introduce la 2da nota:8.5
El promedio del estudiante 1 es: 7.25
Introduce la 1era nota: 8.3
Introduce la 2da nota:9
El promedio del estudiante 2 es: 8.65
Introduce la 1era nota: 3
Introduce la 2da nota:10
El promedio del estudiante 3 es: 6.5

In [ ]:
i=0
while i<=1:
  nota_1=float(input('Introduce la 1era nota: '))
  nota_2=float(input('Introduce la 2da nota:'))
  print(f'El promedio del estudiante {i+1} es: {(nota_1+nota_2)/2}')
  i=i+18

Introduce la 1era nota: 5
Introduce la 2da nota:8
El promedio del estudiante 1 es: 6.5
Introduce la 1era nota: 7
Introduce la 2da nota:9
El promedio del estudiante 2 es: 8.0

In [ ]:
contador=1
while contador<=10:
  print(contador)
  #contador =contador+1
  contador+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
alumno=1
while alumno<=3:
  nota_1=float(input('Introduce la 1era nota: '))
  nota_2=float(input('Introduce la 2da nota:'))
  print(f'El promedio del estudiante {alumno} es: {(nota_1+nota_2)/2}')
  alumno+=1

Introduce la 1era nota: 2
Introduce la 2da nota:3
El promedio del estudiante 1 es: 2.5
Introduce la 1era nota: 8
Introduce la 2da nota:5
El promedio del estudiante 2 es: 6.5
Introduce la 1era nota: 9
Introduce la 2da nota:78
El promedio del estudiante 3 es: 43.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
 print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
  nota_1=float(input('Introduce la 1era nota: '))
  nota_2=float(input('Introduce la 2da nota:'))
  print(f'El promedio del estudiante {e} es: {(nota_1+nota_2)/2}')

Introduce la 1era nota: 5
Introduce la 2da nota:8
El promedio del estudiante 1 es: 6.5
Introduce la 1era nota: 6
Introduce la 2da nota:9
El promedio del estudiante 2 es: 7.5
Introduce la 1era nota: 2
Introduce la 2da nota:8
El promedio del estudiante 3 es: 5.0

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

In [ ]:
a=int(input("Introduzca 1er número: "))
b=int(input("Introduzca 2do número: "))
for n in range(a,b+1):
  print(n)

Introduzca 1er número: 3
Introduzca 2do número: 20
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
a=4
b=10
i=1
while a<=b:
  a*=1.03
  b*=1.015
  print(f'{i} dia crecimiento de a= {a}, crecimiento de b={b}')
  i+=1
  if a<b:
   continue
  print(f"Le tomo {i-1} dias a a alcanzar y supear a b")

1 dia crecimiento de a= 4.12, crecimiento de b=10.149999999999999
2 dia crecimiento de a= 4.2436, crecimiento de b=10.302249999999997
3 dia crecimiento de a= 4.370908, crecimiento de b=10.456783749999996
4 dia crecimiento de a= 4.5020352400000005, crecimiento de b=10.613635506249995
5 dia crecimiento de a= 4.6370962972, crecimiento de b=10.772840038843745
6 dia crecimiento de a= 4.7762091861160005, crecimiento de b=10.934432639426399
7 dia crecimiento de a= 4.919495461699481, crecimiento de b=11.098449129017794
8 dia crecimiento de a= 5.0670803255504655, crecimiento de b=11.26492586595306
9 dia crecimiento de a= 5.21909273531698, crecimiento de b=11.433899753942356
10 dia crecimiento de a= 5.375665517376489, crecimiento de b=11.60540825025149
11 dia crecimiento de a= 5.536935482897784, crecimiento de b=11.77948937400526
12 dia crecimiento de a= 5.703043547384717, crecimiento de b=11.956181714615338
13 dia crecimiento de a= 5.874134853806259, crecimiento de b=12.135524440334567
14 dia crecimiento de a= 6.050358899420448, crecimiento de b=12.317557306939584
15 dia crecimiento de a= 6.231869666403061, crecimiento de b=12.502320666543676
16 dia crecimiento de a= 6.418825756395154, crecimiento de b=12.68985547654183
17 dia crecimiento de a= 6.611390529087008, crecimiento de b=12.880203308689955
18 dia crecimiento de a= 6.809732244959618, crecimiento de b=13.073406358320304
19 dia crecimiento de a= 7.014024212308407, crecimiento de b=13.269507453695107
20 dia crecimiento de a= 7.22444493867766, crecimiento de b=13.468550065500532
21 dia crecimiento de a= 7.4411782868379905, crecimiento de b=13.670578316483038
22 dia crecimiento de a= 7.664413635443131, crecimiento de b=13.875636991230282
23 dia crecimiento de a= 7.894346044506425, crecimiento de b=14.083771546098735
24 dia crecimiento de a= 8.131176425841618, crecimiento de b=14.295028119290214
25 dia crecimiento de a= 8.375111718616866, crecimiento de b=14.509453541079566
26 dia crecimiento de a= 8.626365070175373, crecimiento de b=14.727095344195758
27 dia crecimiento de a= 8.885156022280635, crecimiento de b=14.948001774358694
28 dia crecimiento de a= 9.151710702949053, crecimiento de b=15.172221800974073
29 dia crecimiento de a= 9.426262024037525, crecimiento de b=15.399805127988683
30 dia crecimiento de a= 9.70904988475865, crecimiento de b=15.630802204908512
31 dia crecimiento de a= 10.00032138130141, crecimiento de b=15.865264237982139
32 dia crecimiento de a= 10.300331022740453, crecimiento de b=16.10324320155187
33 dia crecimiento de a= 10.609340953422667, crecimiento de b=16.344791849575145
34 dia crecimiento de a= 10.927621182025346, crecimiento de b=16.58996372731877
35 dia crecimiento de a= 11.255449817486106, crecimiento de b=16.838813183228552
36 dia crecimiento de a= 11.59311331201069, crecimiento de b=17.09139538097698
37 dia crecimiento de a= 11.94090671137101, crecimiento de b=17.347766311691633
38 dia crecimiento de a= 12.29913391271214, crecimiento de b=17.607982806367005
39 dia crecimiento de a= 12.668107930093505, crecimiento de b=17.872102548462507
40 dia crecimiento de a= 13.048151167996311, crecimiento de b=18.140184086689445
41 dia crecimiento de a= 13.4395957030362, crecimiento de b=18.412286847989783
42 dia crecimiento de a= 13.842783574127287, crecimiento de b=18.688471150709628
43 dia crecimiento de a= 14.258067081351106, crecimiento de b=18.96879821797027
44 dia crecimiento de a= 14.68580909379164, crecimiento de b=19.253330191239822
45 dia crecimiento de a= 15.12638336660539, crecimiento de b=19.542130144108416
46 dia crecimiento de a= 15.580174867603553, crecimiento de b=19.83526209627004
47 dia crecimiento de a= 16.04758011363166, crecimiento de b=20.132791027714088
48 dia crecimiento de a= 16.52900751704061, crecimiento de b=20.434782893129796
49 dia crecimiento de a= 17.02487774255183, crecimiento de b=20.741304636526742
50 dia crecimiento de a= 17.535624074828384, crecimiento de b=21.05242420607464
51 dia crecimiento de a= 18.061692797073235, crecimiento de b=21.368210569165758
52 dia crecimiento de a= 18.60354358098543, crecimiento de b=21.68873372770324
53 dia crecimiento de a= 19.161649888414996, crecimiento de b=22.01406473361879
54 dia crecimiento de a= 19.736499385067447, crecimiento de b=22.34427570462307
55 dia crecimiento de a= 20.32859436661947, crecimiento de b=22.679439840192412
56 dia crecimiento de a= 20.938452197618055, crecimiento de b=23.019631437795297
57 dia crecimiento de a= 21.566605763546598, crecimiento de b=23.364925909362224
58 dia crecimiento de a= 22.213603936452998, crecimiento de b=23.715399798002654
59 dia crecimiento de a= 22.880012054546587, crecimiento de b=24.071130794972692
60 dia crecimiento de a= 23.566412416182985, crecimiento de b=24.43219775689728
61 dia crecimiento de a= 24.273404788668476, crecimiento de b=24.798680723250737
62 dia crecimiento de a= 25.00160693232853, crecimiento de b=25.170660934099494
63 dia crecimiento de a= 25.75165514029839, crecimiento de b=25.548220848110983
Le tomo 63 dias a a alcanzar y supear a b

In [ ]:
a=int(input('Introduce un número del 0 al 5: '))
while a not in range(0,6):
  print("Número no esta en el range")
  a=int(input('Introduce un número del 0 al 5: '))

print(a)

Introduce un número del 0 al 5: -1
Número no esta en el range
Introduce un número del 0 al 5: 6
Número no esta en el range
Introduce un número del 0 al 5: 4
4

In [ ]:
a=int(input('Introduce el número de temperaturas a ingresar: '))
c=0
for i in range(1,a+1):
 b=int(input(f'Introduce temperatura n°{i}='))
 if b==-273:
  break
c+=b
if i!=a:
 print(f'Se ingreso valor incorrecto -273')
else:
 print(f"La temperatura promedio es {c/a}")

Introduce el número de temperaturas a ingresar: 5
Introduce temperatura n°1=1
Introduce temperatura n°2=2
Introduce temperatura n°3=3
Introduce temperatura n°4=-273
Se ingreso valor incorrecto -273

In [ ]:
a=float(input('Introduce el número de temperaturas a ingresar: '))
ntempera=0
total=0
while a !=-273:
  total+=a
  ntempera+=1
  a=float(input('Introduce el número de temperaturas a ingresar: '))
promedio=total/ntempera
print(f'El promedio de temperatura es: {promedio}')

Introduce el número de temperaturas a ingresar: 20
Introduce el número de temperaturas a ingresar: 20
Introduce el número de temperaturas a ingresar: 20
Introduce el número de temperaturas a ingresar: 20
Introduce el número de temperaturas a ingresar: -273
El promedio de temperatura es: 20.0

In [ ]:
a=int(input("introduce el número del cual quieres su factorial: "))
i=1
b=1
while i<=a:
  b*=i
  i=i+1
  print(b)

introduce el número del cual quieres su factorial: 5
1
2
6
24
120

In [ ]:
a=int(input('Introduce que tabla de multiplicar quieres: '))
for n in range(1,11):
  print(f'{a}*{n}={a*n}')

Introduce que tabla de multiplicar quieres: 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
a=int(input("Introduce un número para evaluar si es primo o no: "))
b=2,3,5,7
c=0
if a in b:
  print(f"El número {a} es primo")
else:
  for n in b:
    if a%n==0:
      c+=1
  if c!=0:
    print(f'El número {a}  no es primo')
  else:
    print(f'El número {a} es primo')

Introduce un número para evaluar si es primo o no: 39
El número 39  no es primo

In [ ]:
# Recopilamos el número
num = int(input('Ingresa un número entero: '))

# Los números enteros iguales o menores que 1 no se consideran primos
if num > 1:
    for i in range(2, num):
        # Verificamos todos los residuos de la división entre todos los números menores que num
        # Si algún residuo es 0, significa que es divisible por otro número además de sí mismo y 1
        if (num % i) == 0:
            print(f'{num} no es un número primo')
            break
    else:
        print(f'{num} es un número primo')
else:
    print(f'{num} no es un número primo')

Ingresa un número entero: 15
15 no es un número primo

In [ ]:
a=int(input("Introduce el número de edades a registrar: "))
r1=0
r2=0
r3=0
r4=0
for n in range(1,a+1):
  b=int(input(f'Introduce la edad n°{n}: '))
  if b<0:
    print("Edad negativa ingresada")
    break
  if b<=25:
    r1+=1
  elif b<=50:
    r2+=1
  elif b<=75:
    r3+=1
  elif b<=100:
    r4+=1
if n==a:
  print(f"Rango [0-25]: {r1} personas")
  print(f"Rango [26-50]: {r2} personas")
  print(f"Rango [51-75]: {r3} personas")
  print(f"Rango [76-100]: {r4} personas")

Introduce el número de edades a registrar: 5
Introduce la edad n°1: 2
Introduce la edad n°2: 85
Introduce la edad n°3: 92
Introduce la edad n°4: -5
Edad negativa ingresada

In [ ]:
v1=0
v2=0
v3=0
v4=0
v5=0
v6=0
for n in range(1,21):
  b=int(input(f"{n}. Vota por tu candidato favorito:\n\t1.\n\t2.\n\t3.\n\t4.\n\t5.(Votos nuloes)\n\t6.Votos en blanco\nVoto:4"))
  if b==1:
    v1+=1
  elif b==2:
    v2+=1
  elif b==3:
    v3+=1
  elif b==4:
    v4+=1
  elif b==5:
    v5+=1
  elif b==6:
    v6+=1
print(f"Candidato 1: {v1}")
print(f"Candidato 2: {v2}")
print(f"Candidato 3: {v3}")
print(f"Candidato 4: {v4}")
print(f"Candidato 5: {v5}")
print(f"Candidato 6: {v6}")
print(f'Porcentaje de votos nulos: {v5/20}')
print(f'Porcentaje de votos en blanco: {v6/20}')

1. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:41
2. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:42
3. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:43
4. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:44
5. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:45
6. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:46
7. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:46
8. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:45
9. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:44
10. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:45
11. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:41
12. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:42
13. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:43
14. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:42
15. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:44
16. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:45
17. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:46
18. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:46
19. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:45
20. Vota por tu candidato favorito:
	1.
	2.
	3.
	4.
	5.(Votos nuloes)
	6.Votos en blanco
Voto:45
Candidato 1: 2
Candidato 2: 3
Candidato 3: 2
Candidato 4: 3
Candidato 5: 6
Candidato 6: 4
Porcentaje de votos nulos: 0.3
Porcentaje de votos en blanco: 0.2

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [1]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [2]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [6]:
type(lista[-1])

bool

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [7]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [9]:
lista[2]=10.0
print(lista)

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [19]:
promedio=(lista[1]+lista[2]+lista[3])/3
promedio
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [20]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

In [23]:
pregunta = '             ¿Quién              vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split()
print(lista_palabras)

['¿Quién', 'vino', 'primero?', '¿El', 'huevo?', '¿O', 'fue', 'la', 'serpiente?']

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [26]:
pregunta = '¿Quién vino primero?? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', '', ' ¿El huevo', ' ¿O fue la serpiente', '']

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [27]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]

In [30]:
len(lista)
print(f'xddd {len(lista)}')

xddd 5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [31]:
lista[0:2]

['Penélope Camacho', 9.5]

In [32]:
lista[:3]

['Penélope Camacho', 9.5, 9.0]

In [33]:
lista[3:]

[9.7, True]

In [34]:
list[:]

list[slice(None, None, None)]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [44]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]

In [46]:
lista.append(promedio)

In [37]:
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [47]:
lista.extend([10,8,9])
print(lista)

['Penélope Camacho', 9.5, 9.0, 9.7, True, 10, 8, 9, 9.733333333333333, 10, 8, 9]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [52]:
lista.remove(9)
print(lista)

['Penélope Camacho', 9.5, 9.7, True, 10, 8, 9.733333333333333, 10, 8]

In [ ]:
Metodos de lista
lista.append()  #Para añadir solo 1 elemento a final
lista.extend() #Añadir varios elementos al final.
lista.remove() #Eliminar segun valor,solo elimina el 1er valor que encuentra,
lista.insert(indicce,Valor)  #Añadir en posiciones especificas
lista.pop(indice)  #Eliminar valor por su indice
lista.index(valor de lista)  #Devuelve indice de ese elemento
lista.sort() #Ordena la lista en orden ascendente

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [53]:
diccionario={'llave_1':1,
             'llave_2':2}

In [55]:
diccionario
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [70]:
Estudiante={
    'matricula':2000168933,
    'dia_registro':25,
    'mes_refistro':10,
    'grupo':'2E'
}

In [71]:
print(Estudiante)

{'matricula': 2000168933, 'dia_registro': 25, 'mes_refistro': 10, 'grupo': '2E'}

In [72]:
Estudiante['matricula']

2000168933

In [73]:
Estudiante['grupo']

'2E'

In [74]:
Estudiante['grupo']='2G'

In [75]:
Estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_refistro': 10,
 'grupo': '2G'}

In [76]:
print(Estudiante)

{'matricula': 2000168933, 'dia_registro': 25, 'mes_refistro': 10, 'grupo': '2G'}

In [77]:
Estudiante['modalidad']='EAD'

In [78]:
Estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_refistro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [80]:
len(Estudiante)

5

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

### Lectura de valores con el lazo `for`