<a href="https://colab.research.google.com/github/BlopezEspinoza070801/Amigo-Secreto/blob/main/python_para_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> **PYTHON PARA DATA SCIENCE**
---

## <font color=green> 1. BIBLIOTECAS
---

## 1.1 Instalación e importación de bibliotecas

En el lenguaje Python se utiliza bastante el concepto de bibliotecas como un conjunto de módulos y funciones útiles para el usuario. Estas favorecen la reducción del uso de códigos en el proyecto, manteniendo únicamente los recursos necesarios para la tarea que deseamos realizar.

### Instalando una biblioteca

Para instalar o actualizar una biblioteca en Python, podemos acudir a `pip` que es un gestor de bibliotecas en Python.

Existe también PYPI que es un repositorio de bibliotecas Python que contiene las bibliotecas más utilizadas por la comunidad junto a su respectiva documentación.

- PYPI ([https://pypi.org/](https://pypi.org/))

In [ ]:
!pip install matplotlib==3.7.1

Requirement already satisfied: matplotlib==3.7.1 in /usr/local/lib/python3.12/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (4.60.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (1.4.9)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (25.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.17.0)

In [ ]:
import matplotlib
matplotlib.__version__

'3.7.1'

In [ ]:
from matplotlib import numpy as np

In [ ]:
from random import choice,randint,randrange,sample

In [ ]:
from math import sqrt,pi,pow

In [ ]:
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [ ]:
choice(lista)

87

In [ ]:
randint(0,100)

71

In [ ]:
a=int(input('Ingresa número 1: '))
b=int(input('Ingresa número 2: '))
print(f'El resutlado es:{a**b} ')
print(f'El resultado es: {pow(a,b)}')

Ingresa número 1: 2
Ingresa número 2: 4
El resutlado es:16
El resultado es: 16.0

In [ ]:
a=int(input('Ingreso número de participantes:'))
randint(1,a)

Ingreso número de participantes:8

3

In [ ]:
b=input('Introduce tu nombre de usuario:')
while True:
  a=randint(1000,9999)
  if a%2==0:
    break
print(f'Hola,{b},tu token de acceso es {a} ¡Bienvenida!')

Introduce tu nombre de usuario:Bryan
Hola,Bryan,tu token de acceso es 7636 ¡Bienvenida!

In [ ]:
b=input('Introduce tu nombre de usuario:')
a=randrange(1000,9999,2)
print(f'Hola,{b},tu token de acceso es {a} ¡Bienvenida!')

Introduce tu nombre de usuario:df
Hola,df,tu token de acceso es 1868 ¡Bienvenida!

In [ ]:
frutas = ["manzana", "banana", "uva", "pera", "mango", "coco", "sandia", "fresa", "naranja", "maracuya", "kiwi", "cereza"]

In [ ]:
lista1=[]
while len(lista1)<3:
  a=choice(frutas)
  if a not in lista1:
   lista1.append(a)

print(lista1)

['uva', 'sandia', 'kiwi']

In [ ]:
seleccion=sample(frutas,3)
print('Ensalada de frutas:',seleccion)

Ensalada de frutas: ['manzana', 'uva', 'banana']

In [ ]:
numeros = [2, 8, 15, 23, 91, 112, 256]

### Importando una biblioteca

In [ ]:
lista_2=[]
for n in numeros:
  if sqrt(n)%1==0:
    lista_2.append(n)
print(lista_2)

[256]

In [ ]:
numeros = [2, 8, 15, 23, 91, 112, 256]
raices_enteras = [num for num in numeros if sqrt(num) % 1 == 0]
print("Números con raíces enteras:", raices_enteras)

Números con raíces enteras: [256]

In [ ]:
raices_e=[n for n in numeros if sqrt(n)%1==0]
print("Números con raíces enteras:", raices_e)

Números con raíces enteras: [256]

In [ ]:
a=float(input('Introduzca el radio de la circunferencia'))
m2=25
a=pi*pow(a,2)*m2
print(f'El valor ginal en reales es: {a}')

Introduzca el radio de la circunferencia5
El valor ginal en reales es: 1963.4954084936207

## 1.2 Utilizando módulos/bibliotecas

- Documentación de Python (https://docs.python.org/es/3/)

#### Ejemplo 1: Vamos a probar la biblioteca Matplotlib para un ejemplo sobre el cálculo de los promedios de notas de los estudiantes de una clase.

(https://matplotlib.org/stable/tutorials/introductory/pyplot.html)

#### Ejemplo 2: Vamos a seleccionar aleatoriamente a un alumno para presentar su trabajo de ciencia de datos usando la biblioteca `random`.

(https://docs.python.org/es/3/library/random.html)

<font color=green>**Tip:**</font> Podrás notar a medida que avanzas en los ejercicios la importancia de acudir a la documentación para aprender cómo utilizar un método de algún módulo en el lenguaje Python.

El método `help()`, por ejemplo, retorna una descripción sobre una variable, método o clase.

https://docs.python.org/es/3/library/functions.html?#help

## <font color=green> 2. FUNCIONES
---

En Python, las **funciones** son secuencias de instrucciones que ejecutan tareas específicas, permitiendo su reutilización en diferentes partes del código. Estas pueden recibir parámetros de entrada (que también los conocemos como *inputs*) y también retornar resultados.

## 2.1 Built-in function (Función Incorporada)

El interpretador de Python contiene una serie de funciones incorporadas que pueden ser invocadas es cualquier momento. Algunas que vamos a utilizar a lo largo de este curso son: `type()`, `print()`, `list()`, `zip()`, `sum()`, `map()`, etc.

***Documentación:***
https://docs.python.org/es/3/library/functions.html

#### **Situación 1:**

La institución educativa para la cual nos encontramos trabajando compartió los datos de las notas de un estudiante para que pudiesemos calcular su promedio con una casilla decimal.

Los datos recibidos corresponden a un diccionario cuyas llaves indican el trimestre en cuestión y sus valores corresponden a las notas de cada trimestre del estudiante en una respectiva materia.

In [ ]:
nota={'1° Trimestre':9.5,'2° Trimestre':8,'3° Trimestre':7}

In [ ]:
suma=0
for s in nota.values():
  suma+=s
print(f"El promedio es: {suma/len(nota)}")

El promedio es: 8.166666666666666

In [ ]:
del sum

NameError: name 'sum' is not defined

In [ ]:
promedio = round(sum(nota.values()) / len(nota),1)
print(promedio)

8.2

*Redondear el promedio usando round():*

https://docs.python.org/es/3/library/functions.html#round

## 2.2 Creando funciones

Tras explorar las funciones incorporadas y aprender cómo utilizar algunas de ellas, es posible que tengas la necesidad de resolver un problema específico y estas no sean suficientes.

Por este motivo, necesitaremos crear nuestras propias funciones, y aún más, si necesitamos aplicarlas en varias partes de nuestros códigos.

### Funciones sin parámetros

#### Formato estándar:

```python
def <nombre>():
  <instrucciones>
```

In [ ]:
def promedio():
  calculo=(10+9+7)/3
  print(calculo)

In [ ]:
promedio()

8.666666666666666

### Funciones con parámetros

#### Formato estándar:

```python
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
  <instrucciones>
```

In [ ]:
def promedio(nota1,nota2,nota3):
  calculo=(nota1+nota2+nota3)/3
  print(calculo)

In [ ]:
promedio(nota1=10,nota2=9,nota3=7)

8.666666666666666

#### **Situación 2:**

Recibimos una solicitud para crear una función que calcule el promedio de notas de un estudiante a partir de una lista; que permita alterar la cantidad de notas, y que no implique tener que modificar la función.

Los datos recibidos, en esta ocasión, corresponden a una lista que contiene las notas de un mismo estudiante en una determinada materia.

notas = 8.5, 9.0, 6.0, 10.0

**¿Vamos a resolver este desafío?**

Para facilitar nuestra comprensión del proceso, vamos a aplicar las notas de un único estudiante; sin embargo, puedes probar otros casos para practicar.

In [ ]:
notas = [8.5, 9.0, 6.0, 10.0]

In [ ]:
def promedio(lista):
  calculo=sum(lista)/len(lista)
  print(calculo)

In [ ]:
promedio(notas)

8.375

In [ ]:
media=promedio(notas)
print(media+1)

8.375

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [ ]:
print(media)

None

In [ ]:
type(media)

NoneType

In [ ]:
def promedio1(lista):
  calculo=sum(lista)/len(lista)

In [ ]:
media1=promedio1(notas)

<font color=red>**Atención!**</font>
Cuando utilizamos funciones, necesitamos prestar atención a una propiedad llamada **Alcance de una función**. Esta propiedad determina dónde una variable puede ser utilizada dentro del código. Por ejemplo, una variable creada dentro de una función existirá únicamente dentro de esta función. O sea, cuando finaliza la ejecución de una función, la variable no estará disponible para el usuario en el resto del código.

## 2.3 Funciones que retornan valores

#### Formato estándar:

```python
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
  <instrucciones>
  return resultado
```

Retomando la actividad anterior, podemos retornar y guardar el valor del promedio de la siguiente forma:

In [ ]:
# Notas del estudiante
notas = [8.5, 9.0, 6.0, 10.0]

In [ ]:
def promedio(lista):
  resultado=sum(lista)/len(lista)
  return resultado

In [ ]:
promedio(notas)

8.375

In [ ]:
resultado1=promedio(notas)

In [ ]:
del resultado

NameError: name 'resultado' is not defined

In [ ]:
type(resultado1)

float

In [ ]:
print(resultado1+1)
resultado

9.375

NameError: name 'resultado' is not defined

#### **Situación 3:**

Recibimos una nueva solicitud. Debemos calcular el promedio de un estudiante a partir de una lista y retornar tanto el promedio como la situación del estudiante ("Aprobado(a)" si la nota es mayor o igual a 7.0, en caso contrario, será "Reprobado(a)").

Además de ello, necesitamos exhibir un pequeño texto para indicar el promedio del estudiante y cuál es su situación. Los datos recibidos corresponden a una lista que contiene apenas las notas de un estudiante en una materia determinada.

**¿Vamos a resolver este desafío?**

Para facilitar nuestra comprensión del proceso, vamos a aplicar las notas de un único estudiante; sin embargo, puedes probar otros casos para practicar.

In [ ]:
# Notas del estudiante
notas = [8.5, 9.0, 6.0, 10.0]

In [ ]:
def boletin(lista):
  resultado=sum(lista)/len(lista)
  if resultado>=7:
    situacion='Aprobado(a)'
  else:
    situacion='Reprobado(a)'
  return (resultado,situacion)

In [ ]:
boletin(notas)

(8.375, 'Aprobado(a)')

In [ ]:
resultado,situacion=boletin(notas)

In [ ]:
print(situacion)

Aprobado(a)

In [ ]:
print(f'El/la estudiante obtuvo un puntaje de: {resultado} y su situacion es {situacion}')

El/la estudiante obtuvo un puntaje de: 8.375 y su situacion es Aprobado(a)

In [ ]:
def boletin(lista):
  resultado=sum(lista)/len(lista)
  if resultado>=7:
    situacion='Aprobado(a)'
  else:
    situacion='Reprobado(a)'
  return f'El/la estudiante obtuvo un puntaje de: {resultado} y su situacion es {situacion}'

In [ ]:
notas2 = [7.5, 4.0, 3.0, 10.0]

In [ ]:
boletin(notas2)

'El/la estudiante obtuvo un puntaje de: 6.125 y su situacion es Reprobado(a)'

## 2.4 Funciones lambda

También se conocen como funciones anónimas, son funciones que no necesitan ser definidas, o sea, no poseen un nombre, y describen en una única fila los comandos que deseamos aplicar.

https://docs.python.org/es/3/reference/expressions.html?#lambda

#### Formato estándar:

```python
lambda <variable>: <expresion>
```

In [ ]:
nota_=float(input('Digite una nota: '))
def cualitativa(nota):
  return nota+0.5
cualitativa(nota_)

Digite una nota: 7

7.5

In [ ]:
nota_=float(input('Digite una nota: '))
cualitativa=lambda x:x+0.5
cualitativa(nota_)

Digite una nota: 7

7.5

#### **Situación 4:**

En esta nueva solicitud, necesitamos crear una calculadora simple para obtener el promedio ponderado de notas de una materia determinada. Vamos a pedir que el usuario introduzca 3 notas (N1, N2, N3) del estudiante y devuelva el promedio ponderado de este estudiante. Los pesos de las notas son de, respectivamente 3, 2 y 5.

Necesitamos exhibir un pequeño texto para poder indicar el promedio del estudiante.
**¿Vamos a resolver este desafío?**

**Resolviendo nuestro problema:**

In [ ]:
nota_1=float(input('Digite una nota1: '))
nota_2=float(input('Digite una nota2: '))
nota_3=float(input('Digite una nota3: '))
ponderado=lambda x,y,z:(x*3+y*2+z*5)/(3+2+5)
nota_final=ponderado(nota_1,nota_2,nota_3)

Digite una nota1: 7
Digite una nota2: 8
Digite una nota3: 9.6

In [ ]:
print(f'El promedio ponderado del estudiante es: {ponderado(nota_1,nota_2,nota_3)}')

El promedio ponderado del estudiante es: 8.5

In [ ]:
print(f'El promedio ponderado del estudiante es: {nota_final}')

El promedio ponderado del estudiante es: 8.5

#### **Situación 5:**

Ahora, debemos crear una pequeña función que permita dar una nota cualitativa (puntaje extra) a las notas del trimestre de los estudiantes del grupo que ganó el concurso de programación realizado en la institución. Cada estudiante recibirá el cualitativo de 0.5 añadido al promedio.

Los datos recibidos corresponden a una lista que contiene las notas de algunos estudiantes y una variable con el cualitativo recibido.

**¿Vamos a resolver este desafío?**

Para facilitar nuestra comprensión del proceso, vamos a aplicar las notas de 5 estudiantes; sin embargo, puedes probar otros casos para practicar.

In [ ]:
# Notas del estudiante
notas = [6.0, 7.0, 9.0, 5.5, 8.0]
cualitativo = 0.5

In [ ]:
notas_actualizadas=lambda x:x+0.5

In [ ]:
notas_actualizadas(notas)

TypeError: can only concatenate list (not "float") to list

### Mapeando valores

#### Formato estándar:

```python
map(<lambda function>, <iterador>)
```

In [ ]:
notas_actualizadas=map(lambda x:x+0.5,notas)

In [ ]:
notas_actualizadas=list(notas_actualizadas)
print(notas_actualizadas)
print(notas)

[6.5, 7.5, 9.5, 6.0, 8.5]
[6.0, 7.0, 9.0, 5.5, 8.0]

## <font color=green> 3. ESTRUCTURAS DE DATOS COMPUESTAS
---

## 3.1 Estructuras anidadas

Previamente, aprendimos a manipular las listas, tuplas y diccionarios para trabajar con una secuencia o colección de valores sean numéricos, categóricos, etc. En esta aula, vamos a profundizar en otra situación común para la persona científica de datos que es trabajar con estos tipos de estructuras anidadas, o sea, cuando, por ejemplo, tenemos listas dentro de una lista.

### **Lista de listas**

#### Formato estándar:

```python
[[a1, a2,...,an], [b1, b2,...,bn], ..., [n1, n2,...,nn]]
```

#### **Situación 6:**

Recibimos la demanda de transformar una lista con el nombre y las notas de tres trimestres de algunos estudiantes en una lista simple, con los nombres separados de las notas, y una lista de listas con las tres notas de cada estudiante separadas entre sí. Los datos recibidos corresponden a una lista con los nombres y las respectivas notas de cada estudiante.

**¿Vamos a resolver este desafío?**

Para facilitar nuestra comprensión del proceso, vamos a trabajar con un grupo de 5 estudiantes; sin embargo, puedes probar otros casos para practicar.

In [ ]:
notas_grupo = ['Juan', 8.0, 9.0, 10.0, 'Maria', 9.0, 7.0, 6.0, 'José', 3.4, 7.0, 7.0, 'Claudia', 5.5, 6.6, 8.0, 'Ana', 6.0, 10.0, 9.5]

In [ ]:
nombres=[]
notas=[]
for i in range(len(notas_grupo)):
  if i%4==0:
    nombres.append(notas_grupo[i])
  else:
    notas.append(notas_grupo[i])
print(nombres)
print(notas)

['Juan', 'Maria', 'José', 'Claudia', 'Ana']
[8.0, 9.0, 10.0, 9.0, 7.0, 6.0, 3.4, 7.0, 7.0, 5.5, 6.6, 8.0, 6.0, 10.0, 9.5]

In [ ]:
notas_separadas=[]
for i in range(0,len(notas),3):
  notas_separadas.append([notas[i],notas[i+1],notas[i+2]])
print(notas_separadas)

[[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

### **Lista de tuplas**

#### Formato estándar:

```python
[(a1, a2,...,an), (b1, b2,...,bn), ..., (n1, n2,...,nn)]
```

#### **Situación 7:**

Necesitamos generar una lista de tuplas con los nombres de los estudiantes y el código ID de cada uno de ellos para la plataforma de análisis de datos. La creación del código consiste en concatenar la primera letra del nombre del estudiante con un número aleatorio de 0 a 999. Los datos recibidos corresponden a una lista con los nombres de cada estudiante.

**¿Vamos a resolver este desafío?**

Para facilitar nuestra comprensión del proceso, vamos a trabajar con un grupo de 5 estudiantes; sin embargo, puedes probar otros casos para practicar.

In [ ]:
nombres

['Juan', 'Maria', 'José', 'Claudia', 'Ana']

In [ ]:
nombres[0][1]

'u'

In [ ]:
from random import randint

In [ ]:
def genera_numero():
  return randint(0,99)

In [ ]:
genera_numero()

44

In [ ]:
codigo_estudiantes=[]
for i in range(len(nombres)):
  codigo_estudiantes.append((nombres[i],nombres[i][0]+str(genera_numero())))
print(codigo_estudiantes)

[('Juan', 'J72'), ('Maria', 'M27'), ('José', 'J23'), ('Claudia', 'C4'), ('Ana', 'A49')]

In [ ]:
codigo_estudiantes

[('Juan', 'J72'),
 ('Maria', 'M27'),
 ('José', 'J23'),
 ('Claudia', 'C4'),
 ('Ana', 'A49')]

## 3.2 List comprehension

Es una forma simple y concisa de crear una lista. Podemos aplicar condicionales y lazos para crear diversos tipos de listas a partir de patrones que deseamos para nuestra estructura de datos.

https://docs.python.org/es/3/tutorial/datastructures.html?#list-comprehensions

#### Formato estándar:

```python
[expresion for item in lista]
```

#### **Situación 8:**

Recibimos la demanda de crear una lista con el promedio de los estudiantes de la lista de listas que creamos en la Situación 6, redondeando el promedio a una casilla decimal. Recordando que cada lista de la lista de listas contiene las tres notas de cada estudiante.

**¿Vamos a resolver este desafío?**

**Tip:** Utiliza el formato:
```python
[expresion for item in lista]
```

In [ ]:
def promedio(lista: list=[0]) -> float:
  ''' Función para calcular el promedio de notas en una lista

  lista: list, default [0]
    Lista con las notas para calcular el promedio
  return = calculo: float
    Promedio calculado
  '''

  calculo = sum(lista) / len(lista)

  return calculo

In [ ]:
notas=[[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

In [ ]:
promedios=[round(promedio(n),1) for n in notas]
promedios

[9.0, 7.3, 5.8, 6.7, 8.5]

#### **Situación 9:**

Ahora, necesitamos utilizar los promedios calculados en el ejemplo anterior, y agruparlos con el nombre de los respectivos estudiantes. Esto será necesario para generar una lista que seleccione a aquellos estudiantes que posean un promedio final mayor o igual a 8 para concursar por una beca de estudios para el próximo año lectivo. Los datos recibidos corresponden a una lista de tuplas con los nombres y los códigos de los estudiantes junto a la lista de promedios calculados previamente.

**Nota: El número de código será diferente cada vez que se ejecute la celda que los genera, por lo tanto, es completamente normal que estos códigos sean diferentes.**

**¿Vamos a resolver este desafío?**

Para facilitar nuestra comprensión del proceso vamos a trabajar con un grupo de 5 estudiantes.

**Tip:** Utiliza el formato:

```python
[expresion for item in lista if condicion]
```

In [ ]:
promedios=[9.0, 7.3, 5.8, 6.7, 8.5]
nombres=[('Juan', 'J72'),('Maria', 'M27'),('José', 'J23'),('Claudia', 'C4'),('Ana', 'A49')]

In [ ]:
nombre=[n[0] for n in nombres]

In [ ]:
estudiantes=list(zip(nombre,promedios))
estudiantes

[('Juan', 9.0), ('Maria', 7.3), ('José', 5.8), ('Claudia', 6.7), ('Ana', 8.5)]

In [ ]:
candidatos=[n[0] for n in estudiantes if n[1]>=8]
candidatos

['Juan', 'Ana']

<font color=green>**Tip:**</font> Para lograr parear los promedios y
los nombres fácilmente, podemos acudir a otra  built-in function: `zip()`

Esta recibe uno o más iterables (lista, string, dict, etc.) y los retorna como un iterador de tuplas donde cada elemento de los iterables es pareado.

#### **Situación 10:**

Recibimos dos demandas sobre este proyecto con las notas de los estudiantes:
- Crear una lista de la situación de los estudiantes considerando los siguientes casos: Si su promedio es mayor o igual a 7, recibirá el valor "Aprobado" y en caso contrario recibirá el valor "Reprobado".
- Generar una lista de listas con:
  - Lista de tuplas con el nombre de los estudiantes y sus códigos
  - Lista de listas con las notas de cada estudiante
  - Lista con los promedios de cada estudiante
  - Lista de la situación de los estudiantes de acuerdo con los promedios

Los datos que utilizaremos son los mismos que generamos en las situaciones anteriores (`nombres`, `notas`, `promedios`).

**¿Vamos a resolver este desafío?**

Para avanzar en el proceso, vamos a dejar escritas las estructuras de datos que ya produjimos.

**Tip:** Para la lista de las situaciones utiliza el formato:
```python
[resultado_if if condicion else resultado_else for item in lista]
```

In [ ]:
promedios=[9.0, 7.3, 5.8, 6.7, 8.5]
nombres=[('Juan', 'J72'),('Maria', 'M27'),('José', 'J23'),('Claudia', 'C4'),('Ana', 'A49')]
notas=[[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

In [ ]:
situacion=['Aprobado(a)' if promedio>=7 else 'Reprobado(a)' for promedio in promedios]
situacion

['Aprobado(a)', 'Aprobado(a)', 'Reprobado(a)', 'Reprobado(a)', 'Aprobado(a)']

**Tip:** Para generar la lista de listas del enunciado podemos utilizar el siguiente formato:
```python
[expresion for item in lista de listas]
```

In [ ]:
registros=[x for x in [nombres,notas,promedios,situacion]]
registros

[[('Juan', 'J72'),
  ('Maria', 'M27'),
  ('José', 'J23'),
  ('Claudia', 'C4'),
  ('Ana', 'A49')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprobado(a)', 'Aprobado(a)', 'Reprobado(a)', 'Reprobado(a)', 'Aprobado(a)']]

In [ ]:
lista_completa=[nombres,notas,promedios,situacion]
print(lista_completa)
len(lista_completa)

[[('Juan', 'J72'), ('Maria', 'M27'), ('José', 'J23'), ('Claudia', 'C4'), ('Ana', 'A49')], [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]], [9.0, 7.3, 5.8, 6.7, 8.5], ['Aprobado(a)', 'Aprobado(a)', 'Reprobado(a)', 'Reprobado(a)', 'Aprobado(a)']]

4

<font color=green>**Tip:**</font> Podemos acudir a la forma más simple de generación de lista de listas con el uso directo de los corchetes sin la necesidad de utilizar las expresiones y el lazo `for` que se emplea en la comprensión de listas.

## 3.3 Dict comprehension

Es una forma simple y concisa de crear o modificar un diccionario. Podemos aplicar condicionales y lazos para crear diversos tipos de diccionarios a partir de los patrones que buscamos para nuestra estructura de datos y con el soporte de iterables como listas o sets.

https://peps.python.org/pep-0274/

#### Formato estándar:

```python
{llave: valor for item in lista}
```

#### **Situación 11:**

Ahora, nuestra demanda consiste en generar un diccionario a partir de la lista de listas que creamos en la Situación 10 para entregar a la persona responsable por construir las tablas para el análisis de los datos.
- Las llaves de nuestro diccionario serán las columnas identificando el tipo de dato
- Los valores serán las listas con los datos correspondientes a aquella llave.

**¿Vamos a resolver este desafío?**

Para facilitar nuestra comprensión del proceso vamos a trabajar con un grupo de 5 estudiantes.

**Tip:** Utiliza el formato

```python
{llave: valor for item in lista}
```

In [ ]:
lista_completa=[[('Juan', 'J72'),
  ('Maria', 'M27'),
  ('José', 'J23'),
  ('Claudia', 'C4'),
  ('Ana', 'A49')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprobado(a)', 'Aprobado(a)', 'Reprobado(a)', 'Reprobado(a)', 'Aprobado(a)']]

In [ ]:
columna=['Notas','Promedio Final','Situacion']
registro={columna[i]:lista_completa[i+1] for i in range(len(columna))}
registro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Promedio Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situacion': ['Aprobado(a)',
  'Aprobado(a)',
  'Reprobado(a)',
  'Reprobado(a)',
  'Aprobado(a)']}

In [ ]:
print(len(lista_completa[0]))

5

In [ ]:
registro['Estudiante']=[lista_completa[0][i][0] for i in range (len(lista_completa[0]))]
registro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Promedio Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situacion': ['Aprobado(a)',
  'Aprobado(a)',
  'Reprobado(a)',
  'Reprobado(a)',
  'Aprobado(a)'],
 'Estudiante': ['Juan', 'Maria', 'José', 'Claudia', 'Ana']}

In [ ]:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

In [ ]:
for n in range(len(lista_de_listas)):
  print(f'La suma de los elementos de el elemento {n+1} es: {sum(lista_de_listas[n])}')

La suma de los elementos de el elemento 1 es: 24
La suma de los elementos de el elemento 2 es: 10
La suma de los elementos de el elemento 3 es: 16

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [ ]:
lista_3=[n[2] for n in lista_de_tuplas]
lista_3

[81, 67, 83]

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

In [ ]:
lista_tupla=[]
for n in range(len(lista)):
  lista_tupla.append((n,lista[n]))
print(lista_tupla)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [ ]:
lista_tupla2=[(n,lista[n]) for n in range(len(lista))]
lista_tupla2

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [ ]:
alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [ ]:
alquiler_tupla=[n[1] for n in alquiler if n[0]=='Apartamento']
alquiler_tupla

[1700, 1400, 1900]

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [ ]:
mes_gasto={meses[i]:gasto[i] for i in range(len(meses))}
mes_gasto

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [ ]:
mes_gasto0={mes:gasto for mes,gasto in zip(meses,gasto)}
mes_gasto0

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [ ]:
ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

In [ ]:
venta2022=[n for n in ventas if n[0]=='2022' and n[1]>6000]
venta2022

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [ ]:
glicemia2=[
    ('A',n) if n<=70 else
    ('B',n) if n<=99 else
    ('C',n) if n<125 else
    ('D',n)
    for n in glicemia]
glicemia2

[('D', 129),
 ('B', 82),
 ('A', 60),
 ('B', 97),
 ('C', 101),
 ('A', 65),
 ('A', 62),
 ('D', 167),
 ('B', 87),
 ('A', 53),
 ('A', 58),
 ('B', 92),
 ('A', 66),
 ('C', 120),
 ('C', 109),
 ('A', 62),
 ('B', 86),
 ('B', 96),
 ('C', 103),
 ('B', 88),
 ('D', 155),
 ('A', 52),
 ('B', 89),
 ('B', 73)]

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

In [ ]:
tabla=[('Id','Cantidad','Precio','Total')]

In [ ]:
lista=[(a,b,c,b*c) for a,b,c in zip(id,cantidad,precio)]
tabla2=tabla+lista
tabla2

[('Id', 'Cantidad', 'Precio', 'Total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [ ]:
lista_intermedia=[]
for n in estados:
  if n not in lista_intermedia:
    lista_intermedia.append(n)
print(lista_intermedia)

['CMX', 'OAX', 'PUE', 'VER']

In [ ]:
estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE']

In [ ]:
estados_unicos=list(set(estados))
estados_unicos

['OAX', 'PUE', 'CMX', 'VER']

In [ ]:
lista_de_listas=[]
for n in estados_unicos:
  lista=[m for m in estados if m==n]
  lista_de_listas.append(lista)
print(lista_de_listas)
conteo={estados_unicos[i]:len(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(conteo)

[['OAX', 'OAX', 'OAX', 'OAX', 'OAX', 'OAX'], ['PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE'], ['CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX'], ['VER', 'VER']]
{'OAX': 6, 'PUE': 7, 'CMX': 8, 'VER': 2}

In [ ]:
cdx=0
oax=0
pue=0
ver=0
lista_intermedio2=[]
for n in estados:
  if n=='CMX':
    cdx+=1
  elif n=='OAX':
    oax+=1
  elif n=='PUE':
    pue+=1
  elif n=='VER':
    ver+=1
lista_intermedio2.append(cdx)
lista_intermedio2.append(oax)
lista_intermedio2.append(pue)
lista_intermedio2.append(ver)
print(lista_intermedio2)

[8, 6, 7, 2]

In [ ]:
estadosn={ lista_intermedia[n]:lista_intermedio2[n] for n in range(len(lista_intermedia))}
estadosn

{'CMX': 8, 'OAX': 6, 'PUE': 7, 'VER': 2}

In [ ]:
estadosn2={a:b for  a,b in zip(lista_intermedia,lista_intermedio2)}
estadosn2

{'CMX': 8, 'OAX': 6, 'PUE': 7, 'VER': 2}

In [ ]:
empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),  ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10), ('PUE', 12)]

In [ ]:
estados_unicos=list(set([n[0] for n in empleados]))
print(estados_unicos)

lista_de_listas=[]
for n in estados_unicos:
  lista=[m[1] for m in empleados if m[0]==n]
  lista_de_listas.append(lista)
print(lista_de_listas)

agrupamiento={estados_unicos[i]:lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamiento)
agrupamiento2={a:sum(b) for a,b in zip(estados_unicos,lista_de_listas)}
print(agrupamiento2)

['OAX', 'PUE', 'CMX', 'VER']
[[8, 9, 7, 12, 8, 14], [9, 6, 4, 8, 5, 10, 12], [16, 10, 7, 11, 9, 12, 7, 10], [13, 9]]
{'OAX': [8, 9, 7, 12, 8, 14], 'PUE': [9, 6, 4, 8, 5, 10, 12], 'CMX': [16, 10, 7, 11, 9, 12, 7, 10], 'VER': [13, 9]}
{'OAX': 58, 'PUE': 54, 'CMX': 82, 'VER': 22}

## <font color=green> 4. LIDIANDO CON EXCEPCIONES
---

Hemos podido evidenciar hasta aquí la existencia de algunos errores y excepciones en la ejecución de algún comando. Como científico/a de datos o programador, necesitarás estar atento a estas situaciones para evitar bugs o problemas en tus códigos y análisis que puedan afectar la experiencia tanto del usuario como la eficiencia de su análisis.

Existen básicamente dos formas distintas de errores: Los **errores de sintáxis** y las **excepciones**.

Las excepciones son errores detectados durante la ejecución e interrumpen el flujo del programa cerrándolo en caso de que no sean tratadas.  

Vamos a aprender a identificar y tratar algunas de las excepciones aquí, pero es siempre importante consultar la documentación para investigar y verificar cuáles se ajustan a sus proyectos.

**Documentación sobre errores y excepciones:** https://docs.python.org/es/3/tutorial/errors.html

## 4.1 Tratando las Excepciones

El tratamiento de las excepciones contribuye a establecer un flujo alternativo para la ejecución del código evitando la interrupción de los procesos inesperadamente.

Existe una serie de excepciones, y a partir del comportamiento que queremos, y de los errores que queremos tratar, es posible construir un camino para el usuario, o también, proveer más detalles sobre aquella excepción.

- Jerarquía de las excepciones (https://docs.python.org/es/3/library/exceptions.html#exception-hierarchy)

### Try ... Except

```python
try:
  # código que será ejecutado. En caso de que surja una excepción, para inmediatamente
except <nombre_de_la_excepcion as e>:
  # Si surje una excepción en el try, ejecuta este código, si no, salta esta etapa
```

#### **Situación 12:**

Creaste un código que lee un diccionario con las notas de los estudiantes y querías retornar la lista de notas de un estudiante.

En caso que el/la estudiante no esté matriculado(a) en el grupo debemos tratar la excepción para presentar el mensaje "Estudiante no matriculado(a) en el grupo".

Vamos a trabajar en este ejemplo con la excepción **Key Error** que interrumpirá el processo de este trecho de código.

**¿Vamos a probar este primer tratamiento?**

In [ ]:
notas = {'Juan': [8.0, 9.0, 10.0], 'Maria': [9.0, 7.0, 6.0], 'José': [3.4, 7.0, 8.0], 'Claudia': [5.5, 6.6, 8.0],
         'Ana': [6.0, 10.0, 9.5], 'Jorge': [5.5, 7.5, 9.0], 'Julia': [6.0, 8.0, 7.0], 'Pedro': [3.0, 4.0, 6.0]}

In [ ]:
try:
  nombre=input('Ingrese el nombre del estudiante: ')
  resultado=notas[nombre]
except Exception as e:
 print(type(e),e)

Ingrese el nombre del estudiante: A
<class 'KeyError'> 'A'

In [ ]:
try:
  nombre=input('Ingrese el nombre del estudiante: ')
  resultado=notas[nombre]
except KeyError:
  print('Estudiante no matriculado(a) en el grupo')

Ingrese el nombre del estudiante: A
Estudiante no matriculado(a) en el grupo

### Agregando la cláusula Else

```python
try:
  # código que será ejecutado. En caso de que surja una excepción, para inmediatamente
except:
  # Si surje una excepción en el try, ejecuta este código, si no, salta esta etapa
else:
  # Si no surjen excepciones, ejecuta esta parte del código
```

#### **Situación 13:**

Creaste un código que lee un diccionario con las notas de los estudiantes y querías retornar la lista de notas de un estudiante.

En caso de que el/la estudiante no esté matriculado(a) en la clase, debe aparecer el siguiente mensaje: "Estudiante no matriculado(a) en el grupo" y, si no surje la excepción, debemos exhibir la lista con las notas del(la) estudiante.

Vamos a trabajar en este ejemplo con la excepción **Key Error** que interrumpirá el proceso de este trecho de código.

**¿Vamos a probar este tratamiento?**

In [ ]:
try:
  nombre=input('Ingrese el nombre del estudiante: ')
  resultado=notas[nombre]
except KeyError:
  print('Estudiante no matriculado(a) en el grupo')
else:
  print(f'las notas del estudiante son: {resultado}')

Ingrese el nombre del estudiante: Maria
las notas del estudiante son: [9.0, 7.0, 6.0]

### Añadiendo la cláusula finally

```python
try:
  # código que será ejecutado. En caso de que surja una excepción, para inmediatamente
except:
  # Si surje una excepción en el try, ejecuta este código, si no, salta esta etapa
else:
  # Si no surjen excepciones, ejecuta esta parte del código
finally:
  # Ejecuta este trecho (con o sin excepción)
```

#### **Situación 14:**

Creaste un código que lee un diccionario con las notas de los estudiantes y querías retornar la lista de notas de un estudiante.

En caso de que el/la estudiante no esté matriculado(a) en la clase, debe aparecer el siguiente mensaje: "Estudiante no matriculado(a) en el grupo" y, si no surje la excepción, debemos exhibir la lista con las notas del(la) estudiante. Un texto avisando que "La consulta ha concluído." debe ser mostrado independientemente de si surgió o no alguna excepción.


Vamos a trabajar en este ejemplo con la excepción **Key Error** que interrumpirá el proceso de este trecho del código.

**¿Vamos a probar este tratamiento?**

In [ ]:
try:
  nombre=input('Ingrese el nombre del estudiante: ')
  resultado=notas[nombre]
except KeyError:
  print('Estudiante no matriculado(a) en el grupo')
else:
  print(f'las notas del estudiante son: {resultado}')
finally:
  print('La consulta ha concluído.')

Ingrese el nombre del estudiante: Juan
las notas del estudiante son: [8.0, 9.0, 10.0]
La consulta ha concluído.

## 4.2 Raise

Otra forma de trabajar con las excepciones en tu código, es generando tus propias excepciones para determinados comportamientos que deseas en tu código.

Para ello, utilizamos la palabra clave `raise` junto al tipo de excepción que se desea mostrar y el mensaje que será exhibido.

```python
raise NombreDelError("Mensaje deseado.")
```

#### **Situação 15:**

Creaste una función para calcular el promedio de un estudiante en una determinada materia pasando en una lista las notas de este estudiante.

Pretendes tratar 2 situaciones:

- Si la lista posee un valor no numérico el cálculo de promedio no será ejecutado y un mensaje de "No fue posible calcular el promedio del(la) estudiante. Solo se admiten valores numéricos!" será exhibido.

- En caso que la lista tenga más de 4 notas, surgirá una excepción del tipo **ValueError** informando que "La lista no puede poseer más de 4 notas."

Un texto avisando que "La consulta ha concluído." debe ser mostrado independientemente de si surgió o no alguna excepción.

**¿Vamos a resolver este desafío?**

In [ ]:
def promedio(lista: list=[0]) -> float:
  ''' Función para calcular el promedio de notas en una lista

  lista: list, default [0]
    Lista con las notas para calcular el promedio
  return = calculo: float
    Promedio calculado
  '''

  calculo = sum(lista) / len(lista)

  if len(lista)>4:
   raise ValueError('La lista no puede poseer más de 4 notas.')

  return calculo

In [ ]:
notas=[6,7,8,9,10]

In [ ]:
resultado=promedio(notas)
resultado

ValueError: La lista no puede poseer más de 4 notas.

In [ ]:
notas=[6,7,8,9,'10']
resultado=promedio(notas)
resultado

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
try:
  notas=[6,7,6,8,9,'10']
  resultado=promedio(notas)
except TypeError:
  print('No fue posible calcular el promedio de la estudiante')
except ValueError as e:
  print(e)
else:
  print(f'las notas del estudiante son: {resultado}')
finally:
  print('La consulta ha concluido')

No fue posible calcular el promedio de la estudiante
La consulta ha concluido

In [ ]:
try:
  notas=[6,7,6,8,9,'10']
  resultado=promedio(notas)
except ValueError as e:
  print(e)
except TypeError:
  print('No fue posible calcular el promedio de la estudiante')
else:
  print(f'las notas del estudiante son: {resultado}')
finally:
  print('La consulta ha concluido')

No fue posible calcular el promedio de la estudiante
La consulta ha concluido

In [ ]:
try:
  notas=[6,7,8,9]
  resultado=promedio(notas)
except ValueError as e:
  print(e)
else:
  print(f'las notas del estudiante son: {resultado}')
finally:
  print('La consulta ha concluido')

las notas del estudiante son: 7.5
La consulta ha concluido

In [ ]:
empleados = {'José': 2000, 'Ana': 2200, 'Juan': 2500, 'Maria': 3800}

In [ ]:
empleados.items()

dict_items([('José', 2000), ('Ana', 2200), ('Juan', 2500), ('Maria', 3800)])

In [ ]:
aumento = list(map(lambda x: x[1] * 1.1, empleados.items()))

In [ ]:
def exhibir_notas_anuales(lista):

    if len(lista) > 3:
        raise ValueError("La lista de notas debe tener 3 elementos")

    for i, nota in enumerate(lista):
        print(f"{i+1}ª Trimestre = {nota}")

In [ ]:
try:
  notas = [5.0, 2.0, 6.0, 8.0]
  exhibir_notas_anuales(notas)
except Exception as e:
  print(type(e), f'Error: {e}')

<class 'ValueError'> Error: La lista de notas debe tener 3 elementos

In [36]:

try:
  a=float(input('Introduce valor 1: '))
  b=float(input('Introduce valor 2: '))
  print(f'La división es: {a/b}')
except ZeroDivisionError:
  print('Error: No se puede dividir x cero')
except Exception as e:
  print(type(e),f'Error: {e}')

Introduce valor 1: 5
Introduce valor 2: 0
Error: No se puede dividir x cero

In [37]:
edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

In [6]:
try:
  b=input("Introduce el nombre a buscar")
  print(f'El valor es: {edades[b]} , de la persona {b}')
except KeyError:
  print(f'La persona {b} no se encuentra en la lista')

Introduce el nombre a buscarcAROLL
La persona cAROLL no se encuentra en la lista

In [12]:
def funcion(lista):
  return [float(x) for x in lista]
try:
  b=funcion(['sdsd',2.5,3,4])
except Exception as e:
  print(type(e))
else:
  print(b)
finally:
  print('Fin de la ejecución de la función')

<class 'ValueError'>
Fin de la ejecución de la función

In [23]:
def funcion2(lista1,lista2):
  a=len(lista1)
  b=len(lista2)
  c=0
  if b>a:
    c=b
  elif b<a:
    c=a
  else:
    c=a
  return [(lista1[i],lista2[i],lista1[i]+lista2[i]) for i in range(c)]

In [24]:
try:
  a=funcion2(['1',4,3,6],[4,5,6])
except IndexError as i:
  print('La cantidad de elementos en cada lista es diferente',type(i))
except Exception as e:
  print(type(e))
else:
  print(a)

<class 'TypeError'>

In [46]:
lista1 = [4, 7, 9, 10]
lista2 = [-4, 6, 8, 7, 9]

In [49]:
def agrupar_listas(lista1,lista2):
  try:
    if len(lista1)!=len(lista2):
      raise IndexError('La cantidad de elementos en cada lista es diferente')
    lista_resultado=[(lista1[i],lista2[i],lista1[i]+lista2[i]) for i in range(len(lista1))]
    return lista_resultado
  except TypeError as e:
    print(type(e))
  except IndexError as e:
    print(f'Error:{e} ')

In [50]:
agrupar_listas(lista1,lista2)

Error:La cantidad de elementos en cada lista es diferente

In [65]:
A= [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'M', 'A']]
respuestas = ['D', 'A', 'B', 'C', 'A']
Nota=[]

In [61]:
def notaz(A):
  try:
    for n in A:
      notas=0
      for i in range(len(n)):
        if n[i] not in respuestas:
          raise ValueError(f'La alternativa {n[i]} no es una opción')
        elif n[i]==respuestas[i]:
          notas+=1
      Nota.append(notas)
  except Exception as e:
    print(e)
  else:
    return Nota

In [66]:
notaz(A)

La alternativa M no es una opción

In [67]:
lista_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso', 'versátil',
                  'y', 'fácil', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial']

In [72]:
lista_no_tratada = ['Python', 'es', 'un', 'lenguaje', 'de', 'programación', 'poderoso', 'versátil',
                  'y', 'fácil,', 'de', 'aprender', 'utilizado', 'en', 'diversos', 'campos,', 'desde',
                  'análisis', 'de', 'datos', 'hasta', 'inteligencia', 'artificial!']

In [69]:
def evaluar_puntuacion(lista):
  try:
    for n in lista:
      if any(a in n for a in [',','.','!','?']):
        raise ValueError(f'El texto presenta puntuaciones en la palabra {n}')
  except ValueError as e:
    print(f'ERROR: {e}')

In [73]:
evaluar_puntuacion(lista_no_tratada)

ERROR: El texto presenta puntuaciones en la palabra fácil,